@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", arial;
  overflow: hidden;
  background: #f8f9fa;
}

section {
  width: 100vw;
}

h3 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 3.25rem;
}

@media screen and (max-width: 1024px) {
  h3 {
    font-size: 1.875rem;
  }
}

@media screen and (max-width: 640px) {
  h3 {
    font-size: 1.5rem;
  }
}
